[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Red Hat, Inc.
  # Portions created by the Initial Developer are Copyright (c) 2010
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@everythingsolved.com>
  #%]
[%
   title = "VCS"
   desc = "Control the VCS Extension"
%]

[% vcs_repos = BLOCK %]
  A list of VCS repositories that users may link bugs to. One repository
  per line. A repository is the root location of the VCS that
  you are using. For example, if you have a project at
  <strong>svn://svn.example.com/svn/my_project/branches/3.0</strong>,
  then your repository would be <strong>svn://svn.example.com/svn/</strong>.
  
  <p>For more information on allowed repository types for your VCS, read the
  documentation for <a href="http://search.cpan.org/dist/VCI/">the relevant
  "VCI::VCS::" module</a> for your system.</p>
[% END %]

[% param_descs = {
  "vcs_repos" => vcs_repos,
} %]
